

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Omitted Lato as leading font */
}

h1, h2, h3, h4, h5, h6 { /* Are all necessary? Should they be multi-line? */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Omitted Lato as leading font */
    font-weight: 700;
}

header.main-head {
  position: relative;
  background-color: #343a40;
  background: linear-gradient(rgba(63, 136, 197, .75), transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              rgba(63, 136, 197, 1) url("img/abstract-antique-backdrop-background-164005.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.main-text {
    color: rgba(20, 15, 45, 1);
  }

header.main-head h1 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .1rem black; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

@media (min-width: 768px) {
    header.main-head {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.main-head h1 {
      font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  @media (max-width: 768px) {
    .showcase .showcase-text {
      width: 100%;
      height: auto;
    }
  }
  
  .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
    max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  
  .testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
    max-width: 18rem;
  }
  
  .testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
  }

  .arrow {
    font-size: 3rem;
    color: white;
    text-shadow: .1rem .1rem .1rem black;
  }

  .my-shadow {
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
  }
  
  .icons-grid {
    background-color: #fff;
  }
  
  nav {
    background-color: #fff;
  }
  
  .logo-padding {
    padding-right: 2rem;
  }
  
  #navbarText {
    font-size: 1.5rem;
  }
  

  @media (min-width: 768px) {
    .bigger-btn {
        font-size: 2rem;
      }
  }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.comp-logo {
    height: 100px;
    width: auto;
}

.navbar-nav .nav-item:not(:last-child) {
    border-right: 1px solid silver;
 }
 
 @media (max-width: 768px) {
   .navbar-nav .nav-item:not(:last-child) {
     border-right: none;
   }
 }

 .navbar-nav {
     padding-left: 2rem;
 }

 @media (max-width: 768px) {
     .navbar-nav {
        padding-left: 0;
        padding-bottom: 1rem;
    }
  }

  .certified {
    float: right;
  }
  
  .certified img {
    height: 50px;
    width: auto;
  }

  /* Testing area */

  #test {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
